# Лабораторная 12. Ассоциативные правила

In [157]:
import pandas as pd
import numpy as np
from apyori import apriori

In [158]:
df = pd.read_csv('heart.csv')
df = df.dropna()
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

In [159]:
df = df.ffill(axis=1)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52.0,1.0,0.0,125.0,212.0,0.0,1.0,168.0,0.0,1.0,2.0,2.0,3.0,0.0
1,53.0,1.0,0.0,140.0,203.0,1.0,0.0,155.0,1.0,3.1,0.0,0.0,3.0,0.0
2,70.0,1.0,0.0,145.0,174.0,0.0,1.0,125.0,1.0,2.6,0.0,0.0,3.0,0.0
3,61.0,1.0,0.0,148.0,203.0,0.0,1.0,161.0,0.0,0.0,2.0,1.0,3.0,0.0
4,62.0,0.0,0.0,138.0,294.0,1.0,1.0,106.0,0.0,1.9,1.0,3.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1.0,1.0,140.0,221.0,0.0,1.0,164.0,1.0,0.0,2.0,0.0,2.0,1.0
1021,60.0,1.0,0.0,125.0,258.0,0.0,0.0,141.0,1.0,2.8,1.0,1.0,3.0,0.0
1022,47.0,1.0,0.0,110.0,275.0,0.0,0.0,118.0,1.0,1.0,1.0,1.0,2.0,0.0
1023,50.0,0.0,0.0,110.0,254.0,0.0,0.0,159.0,0.0,0.0,2.0,0.0,2.0,1.0
1024,54.0,1.0,0.0,120.0,188.0,0.0,1.0,113.0,0.0,1.4,1.0,1.0,3.0,0.0

In [160]:
transactions = []
for i in range(0, 1000):
    transactions.append([str(df.values[i,j]) for j in range(0, 14)])

In [161]:
result = list(apriori(transactions, min_support = 0.01, min_confidence = 0.1, min_lift = 4, min_length = 2))

KeyboardInterrupt:

In [ ]:
association_results = list(result)

In [ ]:
print(len(result))

0

In [ ]:
rules=[]
for item in result:

    # первый индекс внутреннего списка
    # Содержит базовый предмет и добавляет предмет
    pair = item[0]
    items = [x for x in pair]
    v1=str(items[0])
    v2= str(items[1])

    #второй индекс внутреннего списка
    v3= str(item[1])

    #третий индекс списка, расположенный на 0-м месте
    #третьего индекса внутреннего списка

    v4= str(item[2][0][2])
    v5=str(item[2][0][3])
    rows=(v1,v2,v3,v4,v5)
    rules.append(rows)
label=['title1','title2','suppot','confidence','lift']
nm=pd.DataFrame.from_records(rules,columns=label)
nm

Empty DataFrame
Columns: [title1, title2, suppot, confidence, lift]
Index: []

In [ ]:
nm.sort_values(by=['lift'], ascending=False).head(20)

Empty DataFrame
Columns: [title1, title2, suppot, confidence, lift]
Index: []